@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #e4dccf;
  padding: 0 20px;
}

footer {
  text-align: center;
  font-size: 15px;
}

.wrapper {
  max-width: 450px;
  margin: 150px auto;
}

.wrapper .search-input {
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.search-input input {
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.search-input.active input {
  border-radius: 5px 5px 0 0;
}

.autocom-box li:hover {
  background: #efefef;
}

.search-input .icon {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #576f72;
  cursor: pointer;
  transition: all 350ms ease-in-out;
}

.icon:hover {
  font-size: 26px;
}

.current-location {
  text-align: left;
  transition: all 350ms ease-in-out;
  text-align: right;
  font-size: 15px;
  color: gray;
  margin-top: 0.5rem;
}

.current-location:hover {
  cursor: pointer;
  color: black;
}

.header-info {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.icon {
  border: none;
  background-color: transparent;
}

