* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

footer {
  text-align: center;
  font-size: 15px;
}

h1 {
  margin-top: 150px;
  margin-bottom: 2px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 8px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 4px;
}

body {
  margin: 0;
}

button {
  border: none;
  background-color: transparent;
}

ul {
  list-style: none;
  text-align: center;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  row-gap: 50px;
}

.header-info {
  text-align: center;
  text-transform: uppercase;
}

.wrapper {
  display: flex;
  min-height: 100vh;
}

.information {
  width: 65%;
  background-color: #fef5ed;
}

.forecast {
  width: 35%;
  background-color: #99a799;
}

.search-input {
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 60%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
  margin: 50px auto;
  justify-content: center;
}

.search-input button {
  height: 55px;
  line-height: 55px;
  font-size: 20px;
  color: #576f72;
  cursor: pointer;
  transition: all 350ms ease-in-out;
}

.icon:hover {
  font-size: 21px;
}

.search-input input {
  height: 55px;
  width: 87%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
}

.search-input.active input {
  border-radius: 5px 5px 0 0;
}

.autocom-box li:hover {
  background: #efefef;
}

.current-location {
  transition: all 350ms ease-in-out;
  font-size: 15px;
  color: gray;
}

.current-location:hover {
  cursor: pointer;
  color: black;
}

.temperature {
  color: #9a9483;
}
